* {
  margin: 0;
  padding: 0;
}



html {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}



.hero-page {
  width: 100%;
  height: 100vh;
  background-image:
    linear-gradient(
      to top, 
    #070a0e 0%, 
    rgba(7, 10, 14, 0.2) 25%,
    rgba(7,10,14,0.1) 60%,
    rgba(7,10,14,0) 100%
    ),
    linear-gradient(
      to right,
      #3b4260 0%,
      #401d3b 100%
      );   
}

.logo {
  width: 100%;
  height: auto;
}

.logo h4 {
  font-size: 1.7rem;
  color: #fff;
  padding: 1.5em;
  font-weight: 800;
  text-shadow: 0 0 10px black;
}

.logo a {
  color: #fff;
  font-size: 1rem;
  padding-left: 6em;
}

.main-container {
  display: flex;
  height: auto;
}

.text-box {
  margin: 6em 0 0 8em;
  width: 90%;
  height: auto;
}

.text-box h3 {
  font-size: 3.5em;
  background-image: 
    linear-gradient(
      45deg, 
    #7d5dc6,
    #b06bc0,
    #e76b80,
    #ca8887,
    #bca3eb,
    #7fd989 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-box p {
  font-size: 1.5em;
  color: white;
}

.btn-box {
  margin-top: 1em;
}

.btn-box button {
  border: none;
  width: 12em;
  height: 3em;
  margin-right: 1.5em;
  border-radius: 15px;
  color: #fff;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  transition: 0.5s ease;
}

.btn-box a {
  text-decoration: none;
  color: #fff;
}

.btn-box button:hover {
  box-shadow: 0 0 30px #999;
}

.btn-1 a {
  padding: 0.8em 3.2em;
}

.btn-2 a {
  padding: 0.8em 2em;
}

.btn-1 {
  background-image: linear-gradient(
    45deg,
    rgba(188,110,255,1) 0%,
    rgba(0,221,255,1) 180%
    );
}

.btn-2 {
  background-image: linear-gradient(
    135deg,
    rgba(110,177,255,1) 0%,
    rgba(118,0,255,1) 180%
    );
}

.main-container img {
  max-width: 500px;
  max-height: 500px;
  padding: 30px 0 0 75px;
}

/* ----- Recent Update Page ----- */

.main-container-2 {
  
  height: 100%;
  background-image:
  linear-gradient(
    to top, 
    #070a0e 0%, 
    rgba(7, 10, 14, 0.2) 25%,
    rgba(7,10,14,0.1) 60%,
    rgba(7,10,14,0) 100%
    ),
  linear-gradient(
    to right,
    #3b4260 0%,
    #401d3b 100%
    ); 
}

.first-section p, 
.first-section ul li {
  font-weight: 700;
}

.title-container {
  text-align: center;
  color: #fff;
}

.title-container h2 {
  font-size: 2em;
  padding-top: 1em;
}

.title-container p {
  color: #aaa;
  padding: 1em;
  font-weight: 700;
}

.first-section {
  color: #fff;
  margin: 0 10em;
}

.first-section p {
  padding: 2em;
  font-size: 1.1rem;
}

.first-section h3 {
  padding: 1em;
  font-size: 1.5rem;
}

.first-section ul li {
  margin: 1em 0 0 2em;
  font-size: 1.1rem;
}

.first-section ul li ::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}





.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #070a0e;
  color: #fff;
  padding-top: 10em;
  padding-bottom: 3em;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  width: 22em;
  padding-left: 2em;
}

.footer-logo h4 {
  
  font-size: 2rem;
}

.footer-logo p {
  font-weight: 700;
  padding-top: 2em;
  color: #aaa;
}

.social-links p {
  padding-top: 8em;
  color: #fff;
  font-size: 0.8rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  padding-right: 4em;
  line-height: 24px;
}

.footer-links a {
  font-size: 1rem;
  color: #aaa;
  text-decoration: none;
  padding-top: 1.5em;
  font-weight: 700;
  transition: 0.25s ease;
}

.footer-links a:hover {
  color: #401d3b;
}

/* ----- App-Interface ----- */

.app-body {
  background-image: 
  linear-gradient(
    rgba(56,53,53,0) 0%,
    rgba(56,53,53,0.26) 0%,
    rgba(56,53,53,0.45) 18.66%,
    rgba(56,53,53,0.58) 31.44%,
    rgba(56,53,53,0.64) 43.85%,
    rgba(56,53,53,0.79) 63.55%,
    rgba(56,53,53,0.84) 85.71%,
    #383535 100%
  ),
  linear-gradient(
    to right,
    #9e6aff,
    #8ac0f7
  );
}

.main-container-3 {
  margin-bottom: 10em;
 /* background-image: 
  linear-gradient(
    rgba(56,53,53,0) 0%,
    rgba(56,53,53,0.26) 0%,
    rgba(56,53,53,0.45) 18.66%,
    rgba(56,53,53,0.58) 31.44%,
    rgba(56,53,53,0.64) 43.85%,
    rgba(56,53,53,0.79) 63.55%,
    rgba(56,53,53,0.84) 85.71%,
    #383535 100%
  ),
  linear-gradient(
    to right,
    #9e6aff,
    #8ac0f7
  );
  */
}



.big-box {
  width: 70vw;
  height: auto;
  background-color: rgb(25, 27, 31);
  transition: 0.2s;
  
  position: relative;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 10em auto 0 auto;
  padding-left: 1.2em;
}

.box {
  height: 7em;
  display: flex;
  align-items: center;
}

.big-box img {
  width: 40px;
  height: 40px;
}

.coin-name {
  color: #fff;
  font-size: 1.2rem;
  padding-left: 1.5em;
  width: 6em;
}

.ticker-symbol {
  color: #999;
  font-size: 1.2rem;
  padding-left: 2em;
}



.small-box {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 3em;
}

.price-box {
  width: 8em;
}

.price-header {
  font-size: 0.8rem;
  padding-bottom: 0.8em;
}

.market-cap-header {
  font-size: 0.8rem;
  padding-bottom: 0.8em;
}

.circ-supply-header {
  font-size: 0.8rem;
  padding-bottom: 0.8em;
}

.btn {
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  background-color: #3b4260;
  padding: 0.5em 1em;
  letter-spacing: 1px;
}

.bold {
  font-weight: 700;
}





.btc-dropdown {
  width: 100%;
  height: 15em;
  display: none;
}



.box-10 {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.big-box:hover {
  box-shadow: 0 0 20px rgba(0, 226, 225, 0.6);
  z-index: 1;
}



.btc-box {
  align-items: flex-start;
  padding-top: 2em;
  flex-wrap: wrap;
}

.para-box {
  color: #fff;
  font-size: 1.1rem;
  padding: 1em;
  width: 70%;
}






@media only screen and (max-width: 1100px) {

  .text-box {
    text-align: center;
    margin: 0 auto;
  }

  .text-box h3 {
    font-size: 1.5rem;
    margin: 1em;
    padding-bottom: 1em;
  }

  .text-box p {
    font-size: 1rem;
    margin: 2em;
    padding-bottom: 1em;
  }

  .logo {
    text-align: center;
  }

  .logo a {
    padding: 0;
  }

  .main-container img {
    display: none;
  }

  .btn-box {
    text-align: center;
    padding-top: 1em;
  }

  .btn-box button {
    margin: 1em;

  } 
}

@media only screen and (max-width: 950px) {
  .first-section {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0;
  }

  .calender-img {
    display: none;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-links {
    padding: 2em 0 0 0;
  }

  .social-links p {
    display: none;
  }
}



